@import "./_variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

.gfg {
    background-color: green;
    padding: 5px;
    padding-left: 15px;
    
    h1 {
      color: rgb(243, 21, 21);
      font-family: sans-serif;
    }
  }
