@import "../../style/_variable.scss";
@import "../../style/_mixin.scss";

.land_header_contener{
    @include section_padding();
    background: url('../../assets/header_bg.png');
    background-size: 60% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    .land_header_contener_section{
       @include display(space-between, center);
       @media screen and (max-width:768px){
           flex-direction: column;     
        }
       .land_header_contener_section_left{
            flex: 1;
            margin-top: 2rem;
            @include display(center, flex-start, column);
            @media screen and (max-width:992px){
                
            }
            @media screen and (max-width:768px){
                
            }
            @media screen and (max-width:576px){
                
            }
            p{
                @include font($font_size_16, $font-weight_300, $line_height_20, $primary_font_color_1);
                @media screen and (max-width:576px){
                    font-size: $font_size_14;
                    line-height: $line_height_18;
                }
            }
            h1{
                @include font($font_size_60, $font-weight_900, 80px, $primary_font_color_1);
                text-transform: capitalize;
                margin: .2rem 0rem;
                @media screen and (max-width:992px){
                    font-size: $font_size_50;
                    line-height: $line_height_60;
                }
                @media screen and (max-width:768px){
                    font-size: $font_size_45;
                    line-height: 55px;
                }
                @media screen and (max-width:576px){
                    font-size: $font_size_35;
                    line-height: $line_height_45;
                }

            }
            .land_header_contener_section_input_area{
                width: 100%;
                height: 65px;
                background: $white;
                padding: 1rem;
                margin-top: 1rem;
                box-shadow: 1px 2px 5px 2px #ddd;
               
                @include display(flex-start, center);
                .land_header_contener_section_input_area_input_fild{
                    flex: 1;
                    @include display(flex-start, flex-start, column);
                    label{
                        @include font(13px,$font-weight_300, $line_height_16, $primary_font_color_1);
                    }
                    input{
                        outline: none;
                        border: none;
                        @include font($font_size_18, $font-weight_500, $line_height_25, $primary_font_color_1);
                        
                        &::placeholder{
                            @include font($font_size_18, $font-weight_500, $line_height_25, $primary_font_color_1);
                        }
                    }

                }
                button{
                    flex: .2;
                    @include buttonStyle(); 
                    border-radius: 0px;  
                    background: $primary_font_color_1;                 
                }

            }
            .land_header_contenter_section_bottom{
                @include display(flex-start, center, row);
                margin-top: 2rem;
                div{
                    @include display(flex-start, center, row);
                    margin-right: 1.5rem;
                    
                    span{
                        background: $secondary_color_1;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        margin-right: .5rem;
                        @include display(center, center);
                        svg{
                            font-size: 16px;
                            color: $white;
                        }
                    }
                    p{
                        @include font($font_size_16, $font-weight_300, $line_height_20, $primary_font_color_1);
                        @media screen and (max-width:576px){
                            font-size: $font_size_14;
                            line-height: $line_height_18;
                        } 
                    }
                }
            }
       }
       .land_header_contener_section_right{
            flex: 1;
            img{
                width: 100%;
            }
        }
    }
}